@{
    Layout = null;
}
@model Midas_Demo.Models.FunctionAreaModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    @{
        ViewBag.Title = "Information Managment";
    }
    <!-- Bootstrap core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet"
          href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="vendor/bootstrap/js/page1.js"></script>

    <style>

        .checkboxes {
            columns: 3;
        }
    </style>
    <script>
        function goForward() {
            window.history.forward()
        }</script>
    <style type="text/css">

        input[type=number].no-spinner::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input {
            width: 99%;
            height: 100%;
        }

        tr {
            width: 30px;
        }

        label {
            margin-left: 6px;
        }

        #sp {
            color: red;
        }

        tr:hover td,
        tr.even:hover td.active,
        tr.odd:hover td.active {
            background: #FFFEEE;
        }
    </style>

</head>
<body id="page-top">


    <div class="card mb-3" style="margin-top: 2%;">

        <div class="card-body">
            <div class="table-responsive">




                @using (Html.BeginForm("AddFunction", "FunctionArea", FormMethod.Post))
                {

                    <table border="1" align="center" style="width:61%;" id="dataTable" cellspacing="0">




                        <tr>
                            <td><label>FunctionalArea</label><span id="sp">*</span></td>
                            @if (Model != null)
                            {

                                @Html.HiddenFor(m => m.Id)
                            }
                            
                            <td>
                                @Html.TextBoxFor(m => m.FunctionArea_Name, new { @maxlength = "50", @class = "myCssClass", required = "required" })
                            </td>
                        </tr>

                        <tr>
                            <td><label>Status</label><span id="sp">*</span></td>
                            <td>
                                @Html.DropDownListFor(m => m.FunctionArea_Staus, new List<SelectListItem>
                   { new SelectListItem{Text="Y", Value="Y"},
                     new SelectListItem{Text="N", Value="N"} },


                     "Please select")
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table align="center">
                        <tr>
                            <td>
                                <input type="submit" value="submit" name="submit">
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function isAlpha(keyCode) {
            if (keyCode === 9) {
                return;
            }
            return ((keyCode >= 65 && keyCode <= 90) || keyCode == 8 || keyCode == 32 || keyCode == 190)

        }
        function isAlpha1(keyCode) {

            return ((keyCode >= 65 && keyCode <= 90) || keyCode == 8 || keyCode == 32 || keyCode == 190)

        }</script>
    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>


</body>
</html>
